---
import Header from '../components/header';
import Footer from '../components/footer';
import SpeedInsights from '@vercel/speed-insights/astro';
import Analytics from '@vercel/analytics/astro';

interface Props {
    title: string;
    description?: string;
}

const { 
    title, 
    description = "My Dream Day - Making your special day perfect" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <title>{title} | My Dream Day</title>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <Analytics />
    </head>
    <body class="min-h-screen flex flex-col">
        <Header client:load />
        <main class="flex-1 ">
            <slot />
        </main>
        <Footer client:load />
        <SpeedInsights />
    </body>
</html> 